@import "core";
@import "semantic";

/* Mode 1 */
/* colors */
$badge-danger-background: $palette-danger-3;
$badge-danger-border: $palette-danger-6;
$badge-danger-foreground: $palette-danger-11;
$badge-neutral-background: $palette-neutral-3;
$badge-neutral-border: $palette-neutral-6;
$badge-neutral-foreground: $palette-neutral-11;
$badge-primary-background: $palette-primary-3;
$badge-primary-border: $palette-primary-6;
$badge-primary-foreground: $palette-primary-11;
$badge-success-background: $palette-success-3;
$badge-success-border: $palette-success-6;
$badge-success-foreground: $palette-success-11;
$button-danger-outlined-background-hover: $palette-danger-3;
$button-danger-outlined-background-pressed: $palette-danger-1;
$button-danger-outlined-background-rest: $palette-danger-2;
$button-danger-outlined-border-hover: $palette-danger-7;
$button-danger-outlined-border-pressed: $palette-danger-7;
$button-danger-outlined-border-rest: $palette-danger-7;
$button-danger-outlined-foreground-hover: $palette-danger-11;
$button-danger-outlined-foreground-pressed: $palette-danger-10;
$button-danger-outlined-foreground-rest: $palette-danger-11;
$button-danger-solid-background-hover: $palette-danger-10;
$button-danger-solid-background-pressed: $palette-danger-8;
$button-danger-solid-background-rest: $palette-danger-9;
$button-danger-solid-foreground-hover: $palette-white;
$button-danger-solid-foreground-pressed: $palette-white;
$button-danger-solid-foreground-rest: $palette-white;
$button-danger-text-foreground-hover: $palette-danger-12;
$button-danger-text-foreground-pressed: $palette-danger-10;
$button-danger-text-foreground-rest: $palette-danger-11;
$button-danger-tonal-background-hover: $palette-danger-4;
$button-danger-tonal-background-pressed: $palette-danger-2;
$button-danger-tonal-background-rest: $palette-danger-3;
$button-danger-tonal-foreground-hover: $palette-danger-11;
$button-danger-tonal-foreground-pressed: $palette-danger-10;
$button-danger-tonal-foreground-rest: $palette-danger-11;
$button-neutral-outlined-background-hover: $palette-neutral-3;
$button-neutral-outlined-background-pressed: $palette-neutral-1;
$button-neutral-outlined-background-rest: $palette-neutral-2;
$button-neutral-outlined-border-hover: $palette-neutral-7;
$button-neutral-outlined-border-pressed: $palette-neutral-7;
$button-neutral-outlined-border-rest: $palette-neutral-7;
$button-neutral-outlined-foreground-hover: $palette-neutral-11;
$button-neutral-outlined-foreground-pressed: $palette-neutral-10;
$button-neutral-outlined-foreground-rest: $palette-neutral-11;
$button-neutral-solid-background-hover: $palette-neutral-10;
$button-neutral-solid-background-pressed: $palette-neutral-8;
$button-neutral-solid-background-rest: $palette-neutral-9;
$button-neutral-solid-foreground-hover: $palette-white;
$button-neutral-solid-foreground-pressed: $palette-white;
$button-neutral-solid-foreground-rest: $palette-white;
$button-neutral-text-foreground-hover: $palette-neutral-12;
$button-neutral-text-foreground-pressed: $palette-neutral-10;
$button-neutral-text-foreground-rest: $palette-neutral-11;
$button-neutral-tonal-background-hover: $palette-neutral-4;
$button-neutral-tonal-background-pressed: $palette-neutral-2;
$button-neutral-tonal-background-rest: $palette-neutral-3;
$button-neutral-tonal-foreground-hover: $palette-neutral-11;
$button-neutral-tonal-foreground-pressed: $palette-neutral-10;
$button-neutral-tonal-foreground-rest: $palette-neutral-11;
$button-primary-outlined-background-hover: $palette-primary-3;
$button-primary-outlined-background-pressed: $palette-primary-1;
$button-primary-outlined-background-rest: $palette-primary-2;
$button-primary-outlined-border-hover: $palette-primary-7;
$button-primary-outlined-border-pressed: $palette-primary-7;
$button-primary-outlined-border-rest: $palette-primary-7;
$button-primary-outlined-foreground-hover: $palette-primary-11;
$button-primary-outlined-foreground-pressed: $palette-primary-10;
$button-primary-outlined-foreground-rest: $palette-primary-11;
$button-primary-solid-background-hover: $palette-primary-10;
$button-primary-solid-background-pressed: $palette-primary-8;
$button-primary-solid-background-rest: $palette-primary-9;
$button-primary-solid-foreground-hover: $palette-white;
$button-primary-solid-foreground-pressed: $palette-white;
$button-primary-solid-foreground-rest: $palette-white;
$button-primary-text-foreground-hover: $palette-primary-12;
$button-primary-text-foreground-pressed: $palette-primary-10;
$button-primary-text-foreground-rest: $palette-primary-11;
$button-primary-tonal-background-hover: $palette-primary-4;
$button-primary-tonal-background-pressed: $palette-primary-2;
$button-primary-tonal-background-rest: $palette-primary-3;
$button-primary-tonal-foreground-hover: $palette-primary-11;
$button-primary-tonal-foreground-pressed: $palette-primary-10;
$button-primary-tonal-foreground-rest: $palette-primary-11;
$button-success-outlined-background-hover: $palette-success-3;
$button-success-outlined-background-pressed: $palette-success-1;
$button-success-outlined-background-rest: $palette-success-2;
$button-success-outlined-border-hover: $palette-success-7;
$button-success-outlined-border-pressed: $palette-success-7;
$button-success-outlined-border-rest: $palette-success-7;
$button-success-outlined-foreground-hover: $palette-success-11;
$button-success-outlined-foreground-pressed: $palette-success-10;
$button-success-outlined-foreground-rest: $palette-success-11;
$button-success-solid-background-hover: $palette-success-10;
$button-success-solid-background-pressed: $palette-success-8;
$button-success-solid-background-rest: $palette-success-9;
$button-success-solid-foreground-hover: $palette-white;
$button-success-solid-foreground-pressed: $palette-white;
$button-success-solid-foreground-rest: $palette-white;
$button-success-text-foreground-hover: $palette-success-12;
$button-success-text-foreground-pressed: $palette-success-10;
$button-success-text-foreground-rest: $palette-success-11;
$button-success-tonal-background-hover: $palette-success-4;
$button-success-tonal-background-pressed: $palette-success-2;
$button-success-tonal-background-rest: $palette-success-3;
$button-success-tonal-foreground-hover: $palette-success-11;
$button-success-tonal-foreground-pressed: $palette-success-10;
$button-success-tonal-foreground-rest: $palette-success-11;
$card-default-background: $semantic-background-surface-rest;
$card-default-border: $semantic-border-default-rest;
$card-prominent-background: $semantic-background-surface-rest;
$card-prominent-border: $palette-primary-7;
$footer-border: $semantic-border-default-rest;
$footer-foreground: $semantic-foreground-subtle;
$footer-icons: $semantic-foreground-default;
$input-help-text: $semantic-foreground-neutral;
$input-label: $semantic-foreground-default;
$input-placeholder: $semantic-foreground-subtle;
$input-background-disabled: $palette-neutral-4;
$input-background-focused: $semantic-background-surface-rest;
$input-background-hover: $palette-neutral-3;
$input-background-rest: $semantic-background-surface-rest;
$input-border-focused: $palette-primary-9;
$input-border-hover: $semantic-border-default-hover;
$input-border-rest: $semantic-border-default-rest;
$input-prefix-border: $semantic-border-default-rest;
$input-prefix-foreground: $semantic-foreground-neutral;
$link-foreground: $palette-primary-11;
$navbar-item-active-background-hover: $palette-primary-4;
$navbar-item-active-background-pressed: $palette-primary-2;
$navbar-item-active-background-rest: $palette-primary-3;
$navbar-item-active-foreground-hover: $palette-primary-11;
$navbar-item-active-foreground-pressed: $palette-primary-10;
$navbar-item-active-foreground-rest: $palette-primary-11;
$navbar-item-default-background-hover: $white-a5;
$navbar-item-default-background-pressed: $white-a4;
$navbar-item-default-background-rest: #ffffff00;
$navbar-item-default-foreground-hover: $palette-neutral-12;
$navbar-item-default-foreground-pressed: $palette-neutral-12;
$navbar-item-default-foreground-rest: $palette-neutral-12;
$section-header-border: $palette-primary-9;
/* numbers */
$badge-padding: $space-3;
$badge-height: $space-5;
$badge-radii: $semantic-radii-pill;
$button-radii: $semantic-radii-default;
$button-default-gap: $space-2;
$button-default-padding: $space-4;
$button-default-height: $semantic-height-default;
$button-large-gap: $space-4;
$button-large-padding: $space-5;
$button-large-height: $space-8;
$button-small-gap: $space-2;
$button-small-padding: $space-3;
$button-small-height: $space-6;
$card-radii: $semantic-radii-medium;
$card-padding: $space-5;
$footer-padding: $space-5;
$input-gap: $space-2;
$input-radii: $semantic-radii-default;
$input-padding: $space-3;
$input-height: $semantic-height-default;
$input-prefix-padding: $space-2;
$navbar-gap: $space-2;
$navbar-padding: $space-5;
$navbar-item-gap: $space-2;
$navbar-item-radii: $semantic-radii-default;
$navbar-item-padding: $space-4;
$navbar-item-height: $semantic-height-default;